* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#wrapp {
    position: relative;
    margin: 50px auto;
    width: 400px;
	height: 450px;
    border: 2px solid #573d6d;
}
.container {
    width: 100px;
    height: 100px;
    border: 1px solid #5e5a7a;
    box-sizing: border-box;
    position: relative;
    float: left;
    user-select: none;
}
.back {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #e5ca21;
    backface-visibility: hidden;
    transition: transform 700ms linear;
}
.front {
    width: 100px;
    height: 100px;
    position: absolute;
    transform: perspective(900px) rotateY(180deg);
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    backface-visibility: hidden;
    transition: transform 700ms linear;
    user-select: none;
}
.timers {
 	font-size: 1.3em;
 	position: absolute;
	right: 20px;
	bottom: 10px;
}
.win {
    display: none;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: turquoise;
    border: 1px solid green;
    border-radius: 30px;
    font-size: 50px;
    line-height: 198px;
    font-weight: bold;
    text-align: center;
}
.startBtn {
    display: none;
    width: 300px;
    height: 50px;
    position: absolute;
    bottom: 100px;
    left: 50px;
    background-color: turquoise;
    border: 1px solid green;
    border-radius: 25px;
    font-size: 24px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    user-select: none;
}